# фреймворк
Django>=4.1.1,<4.2.0

# для админки
django-jazzmin>=2.2.0,<2.6.0

# новое поле
django-shortuuidfield>=0.1.3

# DRF
djangorestframework>=3.13.0
django-resized
django-select2
requests
django-cors-headers
django-mptt
django-mptt-urls
django-mptt-admin
django-reversion
# для работы с изображениями
pillow>=10.2.0

# эдитор https://pypi.org/project/django-ckeditor-5/
django-ckeditor-5

# транслитерация
pytils>=0.4.1

# для логирования действий
django-admin-logs

redis==4.5.4
# распределенная очередь задач
celery==5.2.7
django-celery-beat


django-environ

django-loguru

psycopg2-binary==2.9.5

coverage

django-debug-toolbar==3.7.0


selenium